In [257]:
# Initialize Otter
import otter
grader = otter.Notebook("lab.ipynb")

# Lab 2 â€“ DataFrames and Grouping

## DSC 80, Fall 2025

### Due Date: Monday, October 13th at 11:59PM

## Instructions

Welcome to the second DSC 80 lab this quarter!

Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and Markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding will be done in an accompanying `lab.py` file that is imported into the current notebook, and **you will only submit that `lab.py` file**, not this notebook!

Some additional guidelines:
- **Unlike in DSC 10, labs will have both public tests and hidden tests.** The bulk of your grade will come from your scores on hidden tests, which you will only see on Gradescope after the assignment deadline.
- **Do not change the function names in the `lab.py` file!** The functions in the `lab.py` file are how your assignment is graded, and they are graded by their name. If you changed something you weren't supposed to, you can find the original code in the [course GitHub repository](https://github.com/dsc-courses/dsc80-2025-fa).
- Notebooks are nice for testing and experimenting with different implementations before designing your function in your `lab.py` file. You can write code here, but make sure that all of your real work is in the `lab.py` file, since that's all you're submitting.
- You are encouraged to write your own additional helper functions to solve the lab, as long as they also end up in `lab.py`.

**To ensure that all of the work you want to submit is in `lab.py`, we've included a script named `lab-validation.py` in the lab folder. You shouldn't edit it, but instead, you should call it from the command line (e.g. the Terminal) to test your work.** More details on its usage are given at the bottom of this notebook.

**Importing code from `lab.py`**:

* Below, we import the `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab` merely import the existing compiled python.

In [258]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [259]:
from lab import *

In [260]:
import os
import io
from pathlib import Path
import pandas as pd
import numpy as np

<div class="alert alert-block alert-danger">

<b>The only question in this lab that you're allowed to use a loop in is Question 3.</b> There, you may use a <code>for</code>-loop to loop over the columns in the input DataFrame, but not the rows. <b>If you use a <code>for</code>-loop or <code>while</code>-loop in any other question, you may lose points!</b>

</div>

## Part 1: Tricky Pandas ðŸ¤”

Sometimes, `pandas` gives you weird outputs that you may not expect. The next question walks you through a few examples that might surprise you.

### Question 1

The following subparts all require you to define a function and return a number that is the answer to a multiple-choice question. You may need to write code and experiment with DataFrames to arrive at your answers.

#### `trick_me`

`trick_me` should not take any arguments. 
<br>

Inside the function:

* Create a DataFrame named `tricky_1` that has three columns labeled `'Name'`, `'Name'`, and `'Age'`. `tricky_1` should have 5 rows; the values are up to you.
* Save the DataFrame to a `.csv` file called `'tricky_1.csv'` without the index.
* Now create another DataFrame, named `tricky_2`, by reading in the file `'tricky_1.csv'`. What are your observations?

  1. It was not possible to create a DataFrame with the duplicate columns.
  2. `tricky_1` and `tricky_2` have the same column names.
  3. `tricky_1` and `tricky_2` have different column names.
   
Your function should return `1`, `2`, or `3`, answering the above question.

<font color='red'>**Hints:** Dictionaries can only contain unique keys, so you <b>cannot</b> use them to declare a DataFrame with duplicate column names. Find other ways to create a DataFrame with duplicate column names.</font>

<br>
  
#### `trick_bool`
`trick_bool` should not take any arguments.

To determine the correct answer from the list below, you should follow the steps outlined by experimenting in **the notebook** (or in the Terminal by running `python`). Outside the function:

* Create a DataFrame named `bools` that has four columns: `True`, `True`, `False`, `False`. Each column name should be Boolean.
* `bools` should have 4 rows; the values are up to you.
* Predict the shape of the DataFrame that results by running each of the three lines of code below. Pick a corresponding answer from the given list. Your function should return a list with three numbers, one for each line.
* You should be able to answer without running any code, but feel free to run code to check your answer.
* **Your function should not do anything other than return a hardcoded list.**

```py
bools[True]
bools[[True, True, False, False]]
bools[[True, False]]
```
    
Answer choices:
1. DataFrame: 2 columns, 1 row
2. DataFrame: 2 columns, 2 rows
3. DataFrame: 2 columns, 3 rows
4. DataFrame: 2 columns, 4 rows
5. DataFrame: 3 columns, 1 rows
6. DataFrame: 3 columns, 2 rows
7. DataFrame: 3 columns, 3 rows
8. DataFrame: 3 columns, 4 rows
9. DataFrame: 4 columns, 1 rows
10. DataFrame: 4 columns, 2 rows
11. DataFrame: 4 columns, 3 rows
12. DataFrame: 4 columns, 4 rows
13. Error

**Hints:** Refer to the previous hint for `trick_me`.

In [261]:
tricky_1 = pd.DataFrame([
        ["Alice", "Alicia", 25],
        ["Bob", "Robert", 30],
        ["Charlie", "Charles", 35],
        ["Danny", "Dan", 18],
        ["Elijah", "Eli", 10]
    ], columns=["Name", "Name", "Age"])
tricky_1.to_csv('tricky_1.csv', index=False)
tricky_2 = pd.read_csv('tricky_1.csv')
tricky_2

      Name   Name.1  Age
0    Alice   Alicia   25
1      Bob   Robert   30
2  Charlie  Charles   35
3    Danny      Dan   18
4   Elijah      Eli   10

In [262]:
bools = pd.DataFrame([
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
], columns=[True, True, False, False])
bools[True]

   True  True
0     1     2
1     5     6
2     9    10
3    13    14

In [263]:
# don't change this cell -- it is needed for the tests to work
trick_ans = trick_bool()

In [264]:
grader.check("q1")

q1 results: All test cases passed!

## Part 2: Summary Statistics ðŸ“Š

In this question you will define two general purpose functions that make it easy to qualitatively assess the contents of a DataFrame.

### Question 2

Complete the implementation of the function `population_stats`, which takes in a DataFrame `df` and returns a DataFrame indexed by the columns of `df`, with the following columns:
* `'num_nonnull'`, which contains the number of non-null entries in each column.
* `'prop_nonnull'`, which contains the proportion of entries in each column that are non-null.
* `'num_distinct'`, which contains the number of distinct non-null entries in each column.
* `'prop_distinct'`, which contains the proportion of non-null entries that are distinct in each column.
       
For example, if `df` has a column named `'ages'` with the following elements (note that `np.nan` is a null value):
       
```py
[2, 2, 2, np.nan, 5, 7, 5, 10, 11, np.nan]
```

Then:
- `'num_nonnull'` is 8, and `'prop_nonnull'` is $\frac{8}{10}$ = 0.8.
- There are six distinct entries, `[2, 5, 7, 10, 11, np.nan]`, but only 5 of them are non-null. So the number of distinct non-null entries, `'num_distinct'`, is 5.
- There are 5 distinct non-null entries, and there are 8 total non-null entries, so `'prop_distinct'` is $\frac{5}{8}$ = 0.625.

Putting it all together, `population_stats(df).loc['ages']` should be a Series containing the numbers 8, 0.8, 5, and 0.625.

In [265]:
# don't change this cell -- it is needed for the tests to work
pop_data = np.random.choice(range(10), size=(100, 4))
df_pop = pd.DataFrame(pop_data, columns='A B C D'.split())
out_pop = population_stats(df_pop)

In [266]:
df_pop

    A  B  C  D
0   3  7  8  4
1   7  4  2  8
2   7  0  7  7
3   2  5  2  1
4   5  8  3  3
5   8  4  3  8
6   5  4  7  8
7   9  6  7  0
8   9  1  0  1
9   0  0  7  7
10  0  1  0  1
11  9  1  9  7
12  8  2  3  1
13  9  1  8  6
14  2  5  1  3
15  2  1  3  2
16  5  2  4  6
17  8  8  4  5
18  8  5  8  0
19  8  9  7  9
20  8  0  4  5
21  4  7  5  9
22  5  1  8  8
23  5  9  1  9
24  8  9  6  0
25  6  2  3  1
26  9  4  9  5
27  1  9  8  5
28  1  8  7  9
29  8  3  5  9
30  3  5  4  4
31  0  2  8  1
32  5  4  7  4
33  9  4  3  8
34  9  6  2  9
35  6  2  2  2
36  8  6  8  6
37  0  8  1  5
38  2  2  9  6
39  8  3  8  8
40  7  9  1  3
41  2  2  4  7
42  3  8  1  2
43  9  9  9  8
44  4  4  2  3
45  0  8  1  9
46  3  6  2  1
47  3  0  0  0
48  6  5  2  7
49  5  0  3  5
50  3  3  4  3
51  9  5  4  5
52  9  4  0  4
53  3  1  1  1
54  0  7  3  3
55  1  4  8  6
56  3  9  6  5
57  5  6  5  0
58  8  4  9  1
59  3  4  7  5
60  4  2  3  6
61  0  7  6  7
62  8  1  6  3
63  6  6  8  7
64  6  8  4  1
65  9  4  2  4
66  1  4  9  8
67  5  2  1  5
68  7  3  9  4
69  0  3  5  9
70  6  4  5  1
71  9  6  6  7
72  0  2  5  8
73  8  8  2  8
74  4  1  9  9
75  4  6  1  5
76  7  7  9  8
77  0  8  7  2
78  8  6  3  6
79  8  4  6  0
80  4  5  0  3
81  3  1  1  6
82  1  3  3  3
83  5  7  4  6
84  5  8  3  1
85  4  1  9  9
86  8  6  4  0
87  0  5  6  6
88  2  1  6  6
89  9  8  7  2
90  5  7  2  7
91  0  6  6  7
92  0  9  7  1
93  0  6  1  2
94  5  6  3  8
95  2  1  3  3
96  2  8  9  5
97  1  6  7  0
98  3  4  1  2
99  6  3  7  3

In [267]:
def calculate_stats(col):
    return {
        'num_nonnull': col.count(),
        'prop_nonnull': col.count() / len(col),
        'num_distinct': col.nunique(),
        'prop_distinct': col.nunique() / col.count()
    }

stats = df_pop.apply(calculate_stats).apply(pd.Series).fillna(0)
stats

   num_nonnull  prop_nonnull  num_distinct  prop_distinct
A        100.0           1.0          10.0            0.1
B        100.0           1.0          10.0            0.1
C        100.0           1.0          10.0            0.1
D        100.0           1.0          10.0            0.1

In [268]:
grader.check("q2")

q2 results: All test cases passed!

### Question 3
    
Complete the implementation of the function `most_common`, which takes in a DataFrame `df` and a number `N` and returns a DataFrame of the `N` most-common values and their counts for each column of `df`. Any column with fewer than `N` distinct values should contain `np.nan` in those entries.

For example, consider the DataFrame shown on the left. This DataFrame is a subset of `salaries`, a larger DataFrame containing information on employees in the City of San Diego. The subset below contains two of the original columns: `'Job Title'` which contains job titles for employees, and `'status'` which denotes whether the employee works a full time position (`'FT'`) or a part time position (`'PT'`). On the right, the return value of `most_common(salaries, N=5)` is shown.

You can assume that there are no ties in our hidden tests.

<table><tr>
    <td><img src="data/imgs/dataframe.png" width="90%"/></td>
    <td><img src="data/imgs/most_common.png" width="90%"/></td>
</tr></table>

***Note***: Remember, to access values in a Series based on their integer position, including when slicing for the first `N` values in a Series, you **must** use `.iloc` followed by square brackets. If you just use square brackets and don't use `.iloc`, you may not see the results you expect!

***Hint***: You may find that initializing an empty DataFrame with `N` rows and adding columns to it is useful in your implementation.

<div class="alert alert-block alert-danger">

<b>Remember, the only question in this lab that you're allowed to use a loop in is Question 3 â€“ that's this question.</b> Here, you may use a <code>for</code>-loop to loop over the columns in the input DataFrame (<code>df</code>), but not the rows. <b>If you use a <code>for</code>-loop or <code>while</code>-loop in any other question, you may lose points!</b>

</div>

In [269]:
# don't change this cell -- it is needed for the tests to work
common_data = np.random.choice(range(10), size=(100, 2))
common_df = pd.DataFrame(common_data, columns='A B'.split())
common_out = most_common(common_df, N=3)
common_out

   A_values  A_counts  B_values  B_counts
0         6        15         1        14
1         4        12         6        14
2         8        12         5        13

In [270]:
common_df_2 = pd.DataFrame({
    'A': [1, 1, 1],
    'B': ['x', 'x', 'y']
})

In [271]:
# grab the top N values
N = 10
final_df = pd.DataFrame(index=range(N))
for col in common_df_2:
    most_common = common_df_2[col].value_counts()[:N]
    final_df[col + '_values'] = list(most_common.index) + [np.nan] * max(0, (N - len(most_common)))
    final_df[col + '_counts'] = list(most_common.values) + [np.nan] * max(0, (N - len(most_common)))
final_df

   A_values  A_counts B_values  B_counts
0       1.0       3.0        x       2.0
1       NaN       NaN        y       1.0
2       NaN       NaN      NaN       NaN
3       NaN       NaN      NaN       NaN
4       NaN       NaN      NaN       NaN
5       NaN       NaN      NaN       NaN
6       NaN       NaN      NaN       NaN
7       NaN       NaN      NaN       NaN
8       NaN       NaN      NaN       NaN
9       NaN       NaN      NaN       NaN

In [272]:
grader.check("q3")

q3 results: All test cases passed!

## Part 3: Superheroes ðŸ¦¸

The questions below analyze a dataset of superheroes found in the `data` directory. One of the datasets lists the attributes of each superhero, while the other is a *Boolean* DataFrame describing which superheroes have which superpowers. Note, the datasets contain information on both **good** superheroes, as well as **bad** superheroes (AKA villains).

If you took DSC 10 in Fall 2022, this dataset may seem familiar â€“ it was used for the Final Project that quarter!

### Question 4

Let's start working with the `powers` dataset, which you can see in `data/superheroes_powers.csv`. 

Complete the implementation of the function `super_hero_powers`, which takes in a DataFrame like `powers` and returns a list with the following three entries:

1. The name of the superhero with the greatest number of superpowers.
2. Identify the most common superpower among superheroes who can fly, other than `'Flight'` itself..
3. The name of the most common superpower among superheroes with only one superpower.

You should **not** be hard-coding your answers in this question; your function should work on any DataFrame similar to `powers`. In each case, you can assume the answer is unique.

In [273]:
# don't change this cell -- it is needed for the tests to work
super_fp = Path('data') / 'superheroes_powers.csv'
powers = pd.read_csv(super_fp)
super_out = super_hero_powers(powers)

c:\Users\sweek\Downloads\ucsd\ucsd_classes\fa25\dsc80\dsc80-2025-fa\labs\lab02\lab.py:77: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  one_power = hero_powers[amt_powers == 1]

In [274]:
powers

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Yellowjacket II,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
663,Ymir,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
664,Yoda,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
665,Zatanna,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
666,Zoom,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [275]:

hero_powers = powers.set_index('hero_names')
# Grab the superhero with the most amount of powers
amt_powers = hero_powers.sum(axis=1).sort_values(ascending=False)
# Most common superpower among heros who can fly
flying_powers = hero_powers[hero_powers['Flight']].sum().sort_values(ascending=False)
# Most common superpower among heros with only one power
one_power = hero_powers[amt_powers == 1]
one_power.sum().sort_values(ascending=False)

C:\Users\sweek\AppData\Local\Temp\ipykernel_34968\71107810.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  one_power = hero_powers[amt_powers == 1]

Intelligence                    8
Marksmanship                    4
Teleportation                   4
Weapon-based Powers             4
Electrokinesis                  4
Size Changing                   3
Super Strength                  3
Weapons Master                  3
Peak Human Condition            3
Flight                          2
Telepathy                       2
Power Augmentation              2
Super Speed                     2
Phasing                         2
Energy Blasts                   2
Fire Control                    2
Psionic Powers                  2
Power Absorption                2
Stamina                         1
Underwater breathing            1
Animal Oriented Powers          1
Accelerated Healing             1
Lantern Power Ring              1
Magic                           1
Technopath/Cyberpath            1
Seismic Power                   1
Photographic Reflexes           1
Natural Armor                   1
Radiation Control               1
Power Nullifier                 1
Enhanced Memory                 1
Shapeshifting                   1
Telekinesis                     1
Power Sense                     1
Possession                      1
Stealth                         1
Cryokinesis                     1
Duplication                     1
Longevity                       1
Enhanced Senses                 0
Death Touch                     0
Darkforce Manipulation          0
Density Control                 0
Astral Travel                   0
Audio Control                   0
Dexterity                       0
Omnitrix                        0
Animal Attributes               0
Danger Sense                    0
Energy Absorption               0
Energy Armor                    0
Agility                         0
Dimensional Awareness           0
Cold Resistance                 0
Durability                      0
Electrical Transport            0
Astral Projection               0
Element Control                 0
Camouflage                      0
Immortality                     0
Reflexes                        0
Projection                      0
Summoning                       0
Force Fields                    0
Energy Constructs               0
Invulnerability                 0
Jump                            0
Dimensional Travel              0
Clairvoyance                    0
Hyperkinesis                    0
Energy Beams                    0
Substance Secretion             0
Elasticity                      0
Anti-Gravity                    0
Empathy                         0
Self-Sustenance                 0
Precognition                    0
Animation                       0
Elemental Transmogrification    0
Fire Resistance                 0
Mind Control                    0
Nova Force                      0
Enhanced Hearing                0
Insanity                        0
Hypnokinesis                    0
Animal Control                  0
Intangibility                   0
Enhanced Sight                  0
Molecular Manipulation          0
Heat Generation                 0
Adaptation                      0
Gliding                         0
Power Suit                      0
Mind Blast                      0
Probability Manipulation        0
Gravity Control                 0
Regeneration                    0
Light Control                   0
Echolocation                    0
Levitation                      0
Toxin and Disease Control       0
Banish                          0
Energy Manipulation             0
Heat Resistance                 0
Natural Weapons                 0
Time Travel                     0
Enhanced Smell                  0
Illusions                       0
Thirstokinesis                  0
Hair Manipulation               0
Illumination                    0
Omnipotent                      0
Cloaking                        0
Changing Armor                  0
Power Cosmic                    0
Biokinesis                      0
Water Control                   0
Radiation Immunity              0
Vision - Telescopic             0
Toxin and Disease Resistance    0
Spatial Awareness               0
Energy Resistance               0
Telepathy Resistance            0
Molecular Combustion            0
Omnilingualism                  0
Portal Creation                 0
Magnetism                       0
Mind Control Resistance         0
Plant Control                   0
Sonar                           0
Sonic Scream                    0
Time Manipulation               0
Enhanced Touch                  0
Magic Resistance                0
Invisibility                    0
Sub-Mariner                     0
Radiation Absorption            0
Intuitive aptitude              0
Vision - Microscopic            0
Melting                         0
Wind Control                    0
Super Breath                    0
Wallcrawling                    0
Vision - Night                  0
Vision - Infrared               0
Grim Reaping                    0
Matter Absorption               0
The Force                       0
Resurrection                    0
Terrakinesis                    0
Vision - Heat                   0
Vitakinesis                     0
Radar Sense                     0
Qwardian Power Ring             0
Weather Control                 0
Vision - X-Ray                  0
Vision - Thermal                0
Web Creation                    0
Reality Warping                 0
Odin Force                      0
Symbiote Costume                0
Speed Force                     0
Phoenix Force                   0
Molecular Dissipation           0
Vision - Cryo                   0
Omnipresent                     0
Omniscient                      0
dtype: int64

In [276]:
grader.check("q4")

q4 results: All test cases passed!

### Question 5

In the notebook, load in the dataset in `data/superheroes.csv` as a DataFrame and explore it. Call your `population_stats` function from Question 2 on the DataFrame. You should notice that there are very few actually null (`np.nan`) values, but there are many entries that **should** be null, because they're missing.

Complete the implementation of the function `clean_heroes`, which takes in a DataFrame like the one created from `superheroes.csv` and returns a new DataFrame with all of the missing values replaced with `np.nan`.

After cleaning the superheroes dataset with `clean_heroes`, run `population_stats` on it again. As a result of the cleaning, population_stats should show that there are more null values.

***Note***: Most of the work in this question is identifying how the missing values are stored in the DataFrame. The implementation of the function should only take one line.

In [277]:
df = pd.read_csv('data/superheroes.csv')
df

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0
730,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
731,731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
732,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0
733,733,Zoom,Male,red,-,Brown,185.0,DC Comics,-,bad,81.0

In [278]:
population_stats(df)

            num_nonnull  prop_nonnull  num_distinct  prop_distinct
Unnamed: 0        734.0      1.000000         734.0       1.000000
name              734.0      1.000000         715.0       0.974114
Gender            734.0      1.000000           3.0       0.004087
Eye color         734.0      1.000000          23.0       0.031335
Race              734.0      1.000000          62.0       0.084469
Hair color        734.0      1.000000          30.0       0.040872
Height            734.0      1.000000          54.0       0.073569
Publisher         719.0      0.979564          24.0       0.033380
Skin color        734.0      1.000000          17.0       0.023161
Alignment         734.0      1.000000           4.0       0.005450
Weight            732.0      0.997275         135.0       0.184426

In [279]:
df = df.replace([-99.0, '-'], [np.nan, np.nan])
population_stats(df)

            num_nonnull  prop_nonnull  num_distinct  prop_distinct
Unnamed: 0        734.0      1.000000         734.0       1.000000
name              734.0      1.000000         715.0       0.974114
Gender            705.0      0.960490           2.0       0.002837
Eye color         562.0      0.765668          22.0       0.039146
Race              430.0      0.585831          61.0       0.141860
Hair color        562.0      0.765668          29.0       0.051601
Height            517.0      0.704360          53.0       0.102515
Publisher         719.0      0.979564          24.0       0.033380
Skin color         72.0      0.098093          16.0       0.222222
Alignment         727.0      0.990463           3.0       0.004127
Weight            495.0      0.674387         134.0       0.270707

In [280]:
# don't change this cell -- it is needed for the tests to work
superheroes_fp = Path('data') / 'superheroes.csv'
heroes = pd.read_csv(superheroes_fp, index_col=0)
clean_out = clean_heroes(heroes)

In [281]:
grader.check("q5")

q5 results: All test cases passed!

Below, we have displayed the first 10 rows of the cleaned DataFrame.

In [282]:
clean_out.head(10)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,NaN,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,NaN,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,NaN,Marvel Comics,NaN,bad,NaN
5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,NaN,bad,122.0
6,Adam Monroe,Male,blue,NaN,Blond,NaN,NBC - Heroes,NaN,good,NaN
7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,NaN,good,88.0
8,Agent 13,Female,blue,NaN,Blond,173.0,Marvel Comics,NaN,good,61.0
9,Agent Bob,Male,brown,Human,Brown,178.0,Marvel Comics,NaN,good,81.0

### Question 6

Using the **cleaned** superhero data, we will now generate some insights.

Complete the implementation of the function `super_hero_stats`, which takes no arguments and returns a list of length 6 containing your answers to the questions below. **Your answers should be hard-coded in the function.**

0. What is the name of the tallest `'Mutant'` with `'No Hair'`?
1. Among the publishers who have more than 5 characters, which publisher has the highest proportion of human characters? If there is a tie, return the publisher whose name is first alphabetically. We define a character to be human if their `'Race'` is exactly the string `'Human'`; for instance, a `'Race'` of `'Human / Radiation'` is non-human for the purposes of this question.
2. Among the characters whose `'Height'`s we know, who is taller on average â€“ `'good'` characters or `'bad'` characters?
3. Which publisher has a greater proportion of `'bad'` characters â€“ `'Marvel Comics'` or `'DC Comics'`?
4. Which `'Publisher'` that isn't `'Marvel Comics'` or `'DC Comics'` has the most characters? Consider all characters whose `'Publisher'` we know â€“ that is, don't drop rows because they have null values in other columns.
5. There is only one character that is **both** more one standard deviation above the mean in height and more than one standard deviation below the mean in weight. What is their name?

***Note***: When calculating your answers, do not drop rows based on null values.

***Note***: Although you'll be writing code to find the answers, you should not include your code in your `.py` file. Just return a hard-coded list with your answers to the 6 questions; all 6 elements in the list should be strings.

In [283]:
# 0. Name of the tallest mutant with no hair
clean_out[(clean_out['Race'] == 'Mutant') & (clean_out['Hair color'] == 'No Hair')].sort_values('Height', ascending=False).iloc[0]['name']

'Onslaught'

In [284]:
# 1. publisher with more than five characters -> highest proportion of humans
def prop_human(s):
    return (s == 'Human').mean()

publishers_grouped = clean_out['Publisher'].value_counts()
more_than_5_list = list(publishers_grouped[publishers_grouped > 5].index)
more_than_5 = clean_out[clean_out['Publisher'].isin(more_than_5_list)]
more_than_5.groupby('Publisher')['Race'].agg(prop_human).idxmax()

'George Lucas'

In [285]:
# 2. out of characters with known heights, do bad or good characters have more height
known_heights = clean_out.dropna(subset=['Height'])
known_heights.groupby('Alignment')['Height'].mean()

Alignment
bad        187.082432
good       183.845245
neutral    237.411765
Name: Height, dtype: float64

In [286]:
# 3. does marvel or dc have a greater proportion of bad characters
def num_bad(s):
    return (s == 'bad').mean()

clean_out.groupby('Publisher')['Alignment'].agg(num_bad).sort_values(ascending=False)

Publisher
J. R. R. Tolkien     1.000000
Image Comics         0.785714
George Lucas         0.428571
Dark Horse Comics    0.333333
Wildstorm            0.333333
Marvel Comics        0.296392
DC Comics            0.274419
Icon Comics          0.250000
Shueisha             0.250000
Team Epic TV         0.200000
NBC - Heroes         0.157895
ABC Studios          0.000000
IDW Publishing       0.000000
HarperCollins        0.000000
Hanna-Barbera        0.000000
J. K. Rowling        0.000000
Rebellion            0.000000
Microsoft            0.000000
Sony Pictures        0.000000
South Park           0.000000
SyFy                 0.000000
Star Trek            0.000000
Titan Books          0.000000
Universal Studios    0.000000
Name: Alignment, dtype: float64

In [287]:
# 4. which publisher that isn't marvel or DC has the most characters
clean_out.groupby('Publisher')['name'].count().sort_values(ascending=False).index[2]

'NBC - Heroes'

In [288]:
# Character 1 STD above mean in height and 1 STD below mean in weight
clean_out_std = clean_out.copy()

height_mean = clean_out_std['Height'].mean()
height_std = clean_out_std['Height'].std()
weight_mean = clean_out_std['Weight'].mean()
weight_std = clean_out_std['Weight'].std()

clean_out_std['Height - STD'] = clean_out_std['Height'].apply(lambda x: (x - height_mean)/height_std)
clean_out_std['Weight - STD'] = clean_out_std['Weight'].apply(lambda x: (x - weight_mean)/weight_std)

clean_out_std[(clean_out_std['Height - STD'] > 1) & (clean_out_std['Weight - STD'] < -1)]

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight,Height - STD,Weight - STD
302,Groot,Male,yellow,Flora Colossus,NaN,701.0,Marvel Comics,NaN,good,4.0,8.679447,-1.039379

In [289]:
# don't change this cell -- it is needed for the tests to work
stats_out = super_hero_stats()

In [290]:
grader.check("q6")

q6 results: All test cases passed!

## Part 4: High Potential Individuals ðŸ“ˆ

Last year, the United Kingdom ðŸ‡¬ðŸ‡§ announced a new ["High Potential Individual" visa](https://www.lexology.com/library/detail.aspx?g=41fa64ec-9272-468c-bdcb-8002745a754f), which allows graduates of universities ranked in the Top 50 globally to move to the UK without a job lined up. This visa has been a subject of much debate, in part due to how much rankings play a role. (Rest assured, UCSD is on the list!)

In this section, you will analyze a dataset of university rankings, collected from  [here](https://www.kaggle.com/datasets/mylesoneill/world-university-rankings?datasetId=) (though we have pre-processed and modified the original dataset for the purposes of this question). Our version of the dataset is stored in `data/universities_unified.csv`.

Columns:
* `'world_rank'`: world rank of the institution
* `'institution'`: name of the institution
* `'national_rank'`: rank within the nation, formatted as `'country, rank'`
* `'quality_of_education'`: rank by quality of education
* `'alumni_employment'`: rank by alumni employment
* `'quality_of_faculty'`: rank by quality of faculty
* `'publications'`: rank by publications
* `'influence'`: rank by influence
* `'citations'`: rank by number of citations
* `'broad_impact'`: rank by broad impact
* `'patents'`: rank by number of patents
* `'score'`: overall score of the institution, out of 100
* `'control'`: whether the university is public or private
* `'city'`: city in which the institution is located
* `'state'`: state in which the institution is located

### Question 7

There are (still) a few aspects of the dataset we need to clean before it's ready for analysis.

#### `clean_universities`

Complete the implementation of the function `clean_universities`, which takes in the raw rankings DataFrame and returns a cleaned DataFrame, cleaned according to the following information:

- Some `'institution'` names contain `'\n'` characters (e.g. `'University of California\nSan Diego'`). Replace all instances of `'\n'` with `', '` (a comma and a space) in the `'institution'` column.

- Change the data type of the `'broad_impact'` column to `int`.

* Split `'national_rank'` into two columns, `'nation'` and `'national_rank_cleaned'`, where:
    * `'nation'` is the country (or its dependency) indicated in the first part of `'national_rank'`. 
        * Note that there are **3** countries that appear under different names for different schools. For all 3 of these countries, you should pick **the name that is longer** and use that name for every occurrence of the country. One of the 3 countries is **`'Czech Republic'`**, which also appears as **`'Czechia'`** â€“ since these refer to the same country and `'Czech Republic'` is longer, all instances of either name should be replaced with `'Czech Republic'`. You need to find the other 2 countries on your own. 
        * As is mentioned below, your function will only be tested on the DataFrame in `data/universities_unified.csv`, so you only need to change these 3 country names.
    * `'national_rank_cleaned'` is the integer in the latter part of `'national_rank'`. Make sure that the data type of this column is `int`. 
    * Don't include the original `'national_rank'` column in the output DataFrame.
* Create a Boolean column `'is_r1_public'`. This column should contain `True` if a university is public and classified as R1 and `False` otherwise. Treat `np.nan`s as False. **Note that in the raw DataFrame, a university is classified as R1 if and only if it has non-null values in all of the following columns: `'control'`, `'city'`, and `'state'`.**
    - Read [this page](https://en.wikipedia.org/wiki/List_of_research_universities_in_the_United_States) to learn more about what it means for a university to be classified as R1.
    
**The only dataset your function will be tested on is `data/universities_unified.csv`; you don't need to worry about other hidden test sets.** In addition, please return a *copy* of the original DataFrame; don't modify the original.

<br>

Now, we can do some basic exploration.

#### `university_info`

Complete the implementation of the function `university_info`, which takes in the **cleaned** DataFrame outputted by `clean_universities` and returns the following values in a list:
* Among `'state'`s with three or more `'institution'`s in the dataset, the `'state'` whose universities have the lowest mean `'score'`.
* The proportion of the `'institution'`s in the top 100 for which the `'quality of faculty'` ranking is also in the top 100.
* The number of `'state'`s where at least 50% of the `'institution'`s are private (i.e. have an `'is_r1_public'` of `False`).
* The lowest-ranked (worst) `'institution'` in the world, according to `'world_rank'`, that is the highest-ranked (best) university in its nation (i.e., it has a `'national_rank_cleaned'` of 1).

You can assume there are no ties.

In [291]:
pd.set_option('display.max_rows', 200)

In [292]:
fp = Path('data') / 'universities_unified.csv'
df = pd.read_csv(fp)
df_copy = df.copy()
df_copy['institution'] = df_copy['institution'].str.replace('\n', ', ')
df_copy['broad_impact'] = df_copy['broad_impact'].astype(int)
df_copy['nation'] = df_copy['national_rank'].str.split(',').str[0]
df_copy['national_rank_cleaned'] = df_copy['national_rank'].str.split(',').str[1].astype(int)
df_copy['nation'] = df_copy['nation'].replace({'UK': 'United Kingdom', 'USA': 'United States', 'Czechia': 'Czech Republic'})
df_copy = df_copy.drop(columns=['national_rank'])
df_copy['is_r1_public'] = (df_copy['control'] == 'Public') & (df_copy['city'] != np.nan) & (df['state'] != np.nan)
df_copy

,world_rank,institution,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,control,city,state,nation,national_rank_cleaned,is_r1_public
0,1,Harvard University,1,1,1,1,1,1,1,3,100.00,Private (non-profit),Cambridge,MA,United States,1,False
1,2,Stanford University,9,2,4,5,3,3,4,10,98.66,Private (non-profit),Stanford,CA,United States,2,False
2,3,Massachusetts Institute of Technology,3,11,2,15,2,2,2,1,97.54,Private (non-profit),Cambridge,MA,United States,3,False
3,4,University of Cambridge,2,10,5,11,6,12,13,48,96.81,NaN,NaN,NaN,United Kingdom,1,False
4,5,University of Oxford,7,13,10,7,12,7,9,15,96.46,NaN,NaN,NaN,United Kingdom,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,University of the Algarve,367,567,218,926,845,812,969,816,44.03,NaN,NaN,NaN,Portugal,7,False
996,997,Alexandria University,236,566,218,997,908,645,981,871,44.03,NaN,NaN,NaN,Egypt,4,False
997,998,Federal University of CearÃ¡,367,549,218,830,823,812,975,824,44.03,NaN,NaN,NaN,Brazil,18,False
998,999,University of A CoruÃ±a,367,567,218,886,974,812,975,651,44.02,NaN,NaN,NaN,Spain,40,False
999,1000,China Pharmaceutical University,367,567,218,861,991,812,981,547,44.02,NaN,NaN,NaN,China,83,False

In [293]:
states_grouped = df_copy['state'].value_counts()[lambda x: x > 3].index.tolist()
lowest_scoring_state = df_copy[df_copy['state'].isin(states_grouped)].groupby('state')['score'].mean().sort_values().index[0]

In [294]:
df_copy[(df_copy['world_rank'] <= 100) & (df_copy['quality_of_faculty'] <= 100)].shape[0] / 100

0.71

In [295]:
df_copy.groupby('state')['is_r1_public'].mean()[lambda x: x > 0.5].size

27

In [300]:
df_copy[df_copy['national_rank_cleaned'] == 1].sort_values(by='world_rank').iloc[-1]['institution']

'University of Bucharest'

In [301]:
# don't change this cell -- it is needed for the tests to work
fp = Path('data') / 'universities_unified.csv'
df = pd.read_csv(fp)
cleaned = clean_universities(df)
info = university_info(cleaned)

In [302]:
grader.check("q7")

q7 results: All test cases passed!

## Congratulations! You're done Lab 2! ðŸ

As a reminder, all of the work you want to submit needs to be in `lab.py`.

To ensure that all of the work you want to submit is in `lab.py`, we've included a script named `lab-validation.py` in the lab folder. You shouldn't edit it, but instead, you should call it from the command line (e.g. the Terminal) to test your work.

Once you've finished the lab, you should open the command line and run, in the directory for this lab:

```
python lab-validation.py
```

**This will run all of the `grader.check` cells that you see in this notebook, but only using the code in `lab.py` â€“ that is, it doesn't look at any of the code in this notebook. If all of your `grader.check` cells pass in this notebook but not all of them pass in your command line with the above command, then you likely have code in your notebook that isn't in your `lab.py`!**

You can also use `lab-validation.py` to test individual questions. For instance,

```
python lab-validation.py q1 q4 q7
```

will run the `grader.check` cells for Questions 1, 4, and 7 â€“ again, only using the code in `lab.py`. [This video](https://www.loom.com/share/0ea254b85b2745e59322b5e5a8692e91?sid=5acc92e6-0dfe-4555-9b6a-8115b6a52f99) how to use the script as well.

Once `python lab-validation.py` shows that you're passing all test cases, you're ready to submit your `lab.py` (and only your `lab.py`) to Gradescope. Once submitting to Gradescope, make sure to stick around until all test cases pass.

There is also a call to `grader.check_all()` below in _this_ notebook, but make sure to also follow the steps above.

<div class="alert alert-block alert-danger">

<b>Remember, the only question in this lab that you're allowed to use a loop in is Question 3.</b> There, you may use a <code>for</code>-loop to loop over the columns in the input DataFrame, but not the rows. <b>If you use a <code>for</code>-loop or <code>while</code>-loop in any other question, you may lose points!</b>

</div>

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [303]:
grader.check_all()

q1 results: All test cases passed!

q2 results: All test cases passed!

q3 results: All test cases passed!

q4 results: All test cases passed!

q5 results: All test cases passed!

q6 results: All test cases passed!

q7 results: All test cases passed!